
/*
TIPOGRAFIAS  +

    Bungee para titulos y menu

    font-family: 'Bungee Hairline', cursive;

    Textos en general

    font-family: 'Heebo', sans-serif;
*/

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
	font-size: 62.5%;

}

html {
  scroll-behavior: smooth;

}



body {

	font-weight: bolder;
	background: tomato;
	max-width: 1600px;

}


.titulo, .nav__item, footer p{
	font-family: 'Bungee Hairline', cursive;
	font-weight: bolder;
	font-size: 2rem;
}


h1.titulo, .nav__label{
	font-size: 4rem;
}

h2.titulo{
	font-size: 3rem;
}

h3.titulo {
	font-size: 2.5rem;
}

p {
	font-size: 1.8rem;
	font-weight: 200;
}
/*----------------Header NAV MENU -------------------------*/

header {
	position: fixed;
	width: 100%;
	z-index: 10;
}



.nav {
	background: #293241;
	height: 80px;
	color: white;

}

.nav__container {
	display: flex;
	height: 100%;
	width: 90%;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}


.nav__logo {
	font-size: em;
	margin-right: 20px;

}

.nav__label, .nav__input {
display: none;
}


.nav__menu {
	display: grid;
	grid-auto-flow: column;
	gap: 3rem;
}

.nav__item {
	color: white;
	text-decoration: none;
	--mascaraMenuItem: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav__item::after {
	content: "";
	display: block;
	background: #fff;
	width: 90%;
	margin-top: 1px;
	height: 3px;
	clip-path: var(--mascaraMenuItem);
	transition: 0.3s;
}

.nav__item:hover {
	--mascaraMenuItem: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


/*-------------------- Home   ----------------------*/


#home{
	background-image: url(../img/fondo_luces.jpeg);
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    height: 100vh;
   	overflow: hidden;
}





/*--------------------BIO ---------------------------*/
#bio {
	background:#fff;

}

.bio__container {
	width: 80%;
	margin: 30px auto;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}




/*--------------------EVENTOS ---------------------------*/


.eventos__container {
	margin-top: 110px;
    width: 100%;
	display: flex;
	align-content: center;
	align-items: center;
	background: #fff;
	overflow: hidden;
}

.eventos__textos {

	width: 40%;
}

.eventos__imagen {
	width: 60%;
}

.eventos__imagen img{
	width: 100%;
}



.item__evento{

	padding: 100px;
	text-align: center;
}


.item__evento .titulo::after {
	content: "";
	display: block;
	background: tomato;
	width: 80%;
	height: 3px;
	position: relative;
	top: -15px;
	left: 30px;

}

.item__evento article{
	margin-top: 20px;
}


/*------------------------Galeria --------------------------------*/



.galeria__container {
	width: 100%;
  	background: tomato;
  	overflow: hidden;
}

.galeria {
	padding-top: 50px;
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.galeria ul {
	margin-top: 15px;
	display: flex;
	width: 400%;

	animation: pasafoto 18s infinite alternate;
	animation-timing-function: ease-in-out;

}

.galeria li {
	/*width: 100%;*/
	list-style: none;
}

.galeria  img {
	width: 100%;

}

@keyframes pasafoto {
	0% {margin-left: 0;}
	15% {margin-left: 0;}

	25% {margin-left: -100%;}	
	47% {margin-left: -100%;}	

	52% {margin-left: -200%;}
	77% {margin-left: -200%;}	

	85% {margin-left: -300%;}	
	100% {margin-left: -300%;}	




}


/*---------------------Musica ---------------------------------*/

 #musica{
	background: #fff;
	


 }

.musica_container {
	margin: auto;
	width: 50%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;


}

/*--------------------- Contacto -------------------------------*/

#contacto {
	background: tomato;

}
.contacto__container {
	margin: auto auto;

	width: 60%;
	height: 100vh;
  	background: tomato;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.form {
display: flex;
flex-wrap: wrap;
justify-content: space-between;


}

.input {
	background: transparent;
	border: 0;
	color: #fff;
	outline: none;
	border: 1px solid white;
	padding: 20px 10px;
	font-size: 2rem;
}

.input::placeholder {
color: #fff;
font-family: 'raleway','sans-serif';

}

input[type="text"],
input[type="email"] {
display: inline-block;
width: 49%;
margin-bottom: 30px;
}

.form textarea {
width: 100%;
margin-bottom: 15px;
resize:none;
}

input[type="submit"] {
width: 120px;
text-align: center;
padding: 14px 0;
}

input[type="submit"]:hover {
cursor: pointer;
color: tomato;
background:#fff;
}




/*---------------------- footer ---------------------------*/

footer {
	background: #293241;
	padding-top: 10px;
	color: white;
	text-align: center;
}

footer a {
	color: white;
	font-size: 3rem;
}


/*============================================================================================
		--------------------------------- media querys---------------------------- 
  ============================================================================================*/


/*===========================  TABLET ==================================*/


@media (max-width:  768px) {

	*{
		font-size: 50%;
	}

/*------- MENU NAV HEADER ------ */
	.nav__label {
		display: block;
		cursor: pointer;
	}

	.nav__menu {

		position: fixed;
		top: 80px;
		bottom: 0;
		background: tomato;
		width: 100%;
		left: 0;
		display: flex;
		justify-content: space-evenly;
		flex-direction: column;
		align-items: center;
		clip-path: circle(0 at center);
		transition: clip-path 0.5s ease-in-out;
	}

	/* cuando selecciones el input su hermano adyacente .nav__menu*/
	.nav__input:checked + .nav__menu {
		background: tomato;
		/*background-image: url(../img/fondo_luces.jpeg);
		filter: drop-shadow(15px);
		-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
		background-size: cover;*/

		clip-path: circle(100% at center);
	}


/*------------    Eventos          --------------*/

.eventos__container {
	flex-direction: column-reverse;
}



.eventos__textos {
	width: 100%;
}

.eventos__imagen {
	width: 100%;
}

.eventos__imagen img {
	width: 100%;
}


/*------------     Galeria            --------------*/

	.galeria ul {
		margin-top: 15px;
		display: flex;
		flex-direction: column;
		width: 100%;
		animation: none;
	}

	.galeria li {
		/*width: 100%;*/
		list-style: none;
	}

	.galeria  img {
		width: 100%;


	}

/*-------- Contacto  ------*/

	input[type="text"],
	input[type="email"] {
	display: block;
	width: 100%;
	height: fit-content;
	margin-bottom: 30px;
	}

}



/*=================================  MOVIL =======================================*/

@media (max-width:  480px) {
*{
	font-size: 40%;
}







}


