/* vamos con mbile first y despues los breakpoints
    para los otros dispositivos, 
    celus hasta 480px 
    tablets de 481 a 768px
    desktop de 769 en adelante */ 

    /*
    TIPOGRAFIAS  +
    
      Bungee para titulos y menu

        font-family: 'Bungee Hairline', cursive;

      Textos en general

        font-family: 'Heebo', sans-serif;
    */





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Heebo', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

a.actual {
    font-weight: bold;
}
.titulo {
    font-family: 'Bungee Hairline', cursive;
}



header div.contenedor {
   
    display: flex;
    justify-content: space-between;
    align-items: center;

} 

header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

header a {
    padding: 1em;
}

div.contenedor {
    width: 1080px;
    margin: 0 auto;
}


/* .home {
    height: 100vh;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-size: xx-large;

} */






footer {
    background: #999;
}

/*para tablets 
@media only screen and (min-width:481px) { 
    
    #menu, #menu-check {
        display: none;
    }
    

}
*/

/* para desktop
@media only screen and (min-width:768px) { 
    
#menu, #menu-check {
    display: none;
}

}
*/










