/*
TIPOGRAFIAS  +
    Bungee para titulos y menu
    font-family: 'Bungee Hairline', cursive;
    Textos en general
    font-family: 'Heebo', sans-serif;
*/


* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Heebo', sans-serif;
	font-size: 62.5%;
}

html {
	scroll-behavior: smooth;
	background: #293241;
}



body {
	font-weight: bolder;
	background: tomato;
	max-width: 1600px;
	min-width: 360px;
	margin: auto;
}


.titulo,
.nav__item,
footer p {
	font-family: 'Bungee Hairline', cursive;
	font-weight: bolder;
	font-size: 2rem;
}


h1.titulo,
.nav__label {
	font-size: 4rem;
}

h1.titulo {
	color: tomato;
}

h1.titulo span {
	font-family: 'Bungee Hairline', cursive;
	font-weight: bolder;
	font-size: 4rem;
	color: white;
}

h2.titulo {
	font-size: 3rem;
	font-weight: bolder;
}

.musica_container .titulo {
	font-size: 4rem;
	font-weight: bolder;
}

h3.titulo {
	font-size: 2.5rem;
}

p {
	font-size: 1.8rem;
	font-weight: 200;
}

/*----------------Header NAV MENU -------------------------*/

header {
	position: fixed;
	width: 100%;
	max-width: 1600px;
	z-index: 10;
}


.nav {
	background: #293241;

	height: 80px;
}


.nav__container {
	display: flex;

	width: 90%;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}


.nav__logo {
	margin-right: 20px;

}

.nav__label{
	color: #fff;
}


.nav__label,
.nav__input {
	display: none;
}


.nav__menu {
	display: grid;
	grid-auto-flow: column;
	gap: 2rem;
}

.nav__item {

	color: white;
	text-decoration: none;
	--mascaraMenuItem: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav__item::after {
	content: "";
	display: block;
	background: #fff;
	width: 90%;
	margin-top: 1px;
	height: 3px;
	clip-path: var(--mascaraMenuItem);
	transition: 0.3s;
}

.nav__item:hover {
	--mascaraMenuItem: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


/*-------------------- Home   ----------------------*/


#home {
	background-image: url(../img/fondo_luces.jpeg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

#home h2 {
	display: none;
}

.relleno__izq {
	flex-basis: 35%;
}


.logo {
	flex-basis: 40%;

} 

.logo img {
	width: 100%;
}


.social__container {
	flex-basis: 35%;
	display: flex;
	flex-direction: column;
	align-items: end;
}

.iconos {
	padding: 10px;
	width: 70px;
	height: 230px;
	background: #293241;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}


.facebook {
	background-image: url(../img/redes/facebook_color.png);
	background-size: 30px;
	overflow: hidden;
	width: 30px;
	height: 30px;
	margin: 10px;
	filter: grayscale(100%);
	transition: 0.5s;
}


.facebook:hover {
	background-size: 40px;
	width: 40px;
	height: 40px;
	filter: grayscale(0%);
}



.spotify {
	background-image: url(../img/redes/spotify_color.png);
	background-size: 30px;
	overflow: hidden;
	width: 30px;
	height: 30px;
	margin: 10px;
	filter: grayscale(100%);
	transition: 0.5s;
}


.spotify:hover {
	background-size: 40px;
	width: 40px;
	height: 40px;
	filter: grayscale(0%);
}


.instagram {
	background-image: url(../img/redes/instagram_color.png);
	background-size: 30px;
	overflow: hidden;
	width: 30px;
	height: 30px;
	margin: 10px;
	filter: grayscale(100%);
	transition: 0.5s;
}

.instagram:hover {
	background-size: 40px;
	width: 40px;
	height: 40px;
	filter: grayscale(0%);
}


.youtube {
	background-image: url(../img/redes/youtube_color.png);
	background-size: 30px;
	overflow: hidden;
	width: 30px;
	height: 30px;
	margin: 10px;
	filter: grayscale(100%);
	transition: 0.3s;
}

.youtube:hover {
	background-size: 40px;
	width: 40px;
	height: 40px;
	filter: grayscale(0%);
}

.apple {
	background-image: url(../img/redes/apple_music_color.png);
	background-size: 30px;
	overflow: hidden;
	width: 30px;
	height: 30px;
	margin: 10px;
	filter: grayscale(100%);
	transition: 0.3s;
}

.apple:hover {
	background-size: 40px;
	width: 40px;
	height: 40px;
	filter: grayscale(0%);
}


/*--------------------BIO ---------------------------*/
#bio {
	background: #fff;
	height: 100%; 
	padding-top: 50px;
	padding-bottom: 50px;
}

.bio__container {
	width: 80%;
	margin: 40px auto;
	height: 100%; 
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.centrar_fotos {
	width: 100%;
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

.circulo {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: auto;
	padding: 2px;
	object-fit: cover;
}

/*--------------------EVENTOS ---------------------------*/


.eventos__container {
	margin-top: 80px;
	width: 100%;
	display: flex;
	align-content: center;
	align-items: center;
	background: #fff;
	overflow: hidden;
}

.eventos__textos {
	width: 40%;
}

.eventos__imagen {
	width: 60%;
}

.eventos__imagen img {
	
	object-fit: fill;
}


.item__evento {

	padding: 10px;
	text-align: center;
}

.item__evento .titulo {

	text-decoration: underline tomato;

}


.item__evento article {
	margin-top: 20px;
}


/*------------------------Galeria --------------------------------*/



.galeria__container {
	width: 100%;
	background: tomato;
	overflow: hidden;
}

.galeria__container h2 {
	display: none;
}

.galeria {
	padding-top: 50px;
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.galeria ul {
	margin-top: 15px;
	display: flex;
	width: 400%;

	animation: pasafoto 18s infinite alternate;
	animation-timing-function: ease-in-out;

}

.galeria li {
	list-style: none;
}

.galeria img {
	width: 100%;

}

@keyframes pasafoto {
	0% {
		margin-left: 0;
	}

	15% {
		margin-left: 0;
	}

	25% {
		margin-left: -100%;
	}

	47% {
		margin-left: -100%;
	}

	52% {
		margin-left: -200%;
	}

	77% {
		margin-left: -200%;
	}

	85% {
		margin-left: -300%;
	}

	100% {
		margin-left: -300%;
	}




}


/*---------------------Musica ---------------------------------*/

#musica {
	background-image: url(../img/fondo_luces.jpeg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	width: 100%;
	height: 100%;
	padding-top: 110px;
	padding-bottom: 110px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;



}

.musica_container {
	margin: auto;
	width: 70%;
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;


}

iframe {
	width: 70%;
	border: none;
}

/*--------------------- Contacto -------------------------------*/

#contacto {
	background: tomato;
	height: 100%; 
	padding-top: 30px;
	padding-bottom: 30px;

}

.contacto__container {
	margin: auto auto;

	width: 60%;
	height: 100%;  
	background: tomato;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;

	
}


.form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.input {
	background: transparent;
	border: 0;
	color: #fff;
	outline: none;
	border: 1px solid white;
	padding: 20px 10px;
	font-size: 2rem;
}

.input::placeholder {
	color: #fff;
	font-family: 'raleway', 'sans-serif';

}

input[type="text"],
input[type="email"] {
	display: inline-block;
	width: 49%;
	margin-bottom: 30px;
}

.form textarea {
	width: 100%;
	margin-bottom: 15px;
	resize: none;
}

input[type="submit"] {
	width: 120px;
	text-align: center;
	padding: 14px 0;
}

input[type="submit"]:hover {
	cursor: pointer;
	color: tomato;
	background: #fff;
}

/*----------------------    pop up verificacion   ----------------------*/

.alerta {

	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
}

#btn__alerta:checked ~ .alerta {
	opacity: 1;
	visibility: visible;
}

.contenedor {
	width: 400px;
	height: 150px;
	background: tomato;
	color: white;
	border: 1px solid white;
	box-shadow: 3px 7px 25px rgba(0, 0, 0, 0.4);
	transition: all 500ms ease;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: translateY(-50%);
	text-align: center;
}

#btn__alerta:checked ~ .alerta .contenedor{
	transform: translateY(0%);
}


.contenedor #cerrar {
	margin-top: 15px;
	width: 25%;
	background: tomato;
	padding: 10px;
	color: #fff;
	border: 1px solid;
	font-size: 1.2rem;
	cursor: pointer;


}

#mensaje {
	font-size: 1.8rem;


}

#btn__alerta {
	display: none;
}


/*---------------------- footer ---------------------------*/

footer {
	background: #293241;
	padding-top: 10px;
	color: white;
	text-align: center;
}

footer a {
	color: white;
	font-size: 3rem;
	margin: 0 10px;
}


/*============================================================================================********************
		--------------------------------- media querys---------------------------- 
  ============================================================================================*/


/*--------------------------   Coreccion menu y eventos -------------------------*/
@media (max-width: 1070px) {



	h1.titulo, h1.titulo span{

		font-size: 3rem;
	}

	.nav__item {
		font-size: 1.5rem;		
	}

}

@media (max-width: 860px) {



	h1.titulo, h1.titulo span{

		font-size: 2.7rem;
	}

	.nav__item {
		font-size: 1.2rem;		
	}


	.item__evento h2{
		font-size: 2.5rem ;
	}

	.item__evento h3{
		font-size: 2.0rem ;
	}

	.item__evento p{
		font-size: 1.5rem ;
	}

}





/*===========================  TABLET ==================================*/


@media (max-width: 768px) {

	* {
		font-size: 50%;
	}

	/*------- MENU NAV HEADER ------ */
	.nav__label {
		display: block;
		cursor: pointer;
	}

	.nav__menu {

		position: fixed;
		top: 80px;
		bottom: 0;
		background: tomato;
		width: 100%;
		left: 0;
		display: flex;
		justify-content: space-evenly;
		flex-direction: column;
		align-items: center;
		clip-path: circle(0 at center);
		transition: clip-path 0.5s ease-in-out;
	}


	.nav__input:checked+.nav__menu {
		background: tomato;
		clip-path: circle(100% at center);
	}

	.nav__img {
		font-size: 3.5rem;
	}

	.nav__item {
		font-size: 3rem;
		width: 100%;
		text-align: center;
		transition: 0.5s;
	}

	/*----------------------- HOME 768----------------*/

	#home {
		background-image: url(../img/fondo_luces.jpeg);
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-attachment: fixed;
		background-position: center center;
		width: 100%;
		max-height: 800px;
		overflow: hidden;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}


	.logo {
		flex-basis: 50%;

	}

	.logo img {
		margin: auto;
		display: block;
		width: 50%;
	}

	.social__container {
		display: flex;
		flex-direction: row;
		width: 100%;

	}

	.iconos {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		height: 65px;
		padding: 10px;
		background: #293241;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}

	/*---------------------    BIO  768  --------------------*/


	.bio__container>.titulo {
		margin-top: 50px;
	}

	.circulo {
		width: 150px;
		height: 150px;
	}


	/*------------    Eventos  768        --------------*/

	.eventos__container {
		flex-direction: column-reverse;
	}


	.eventos__textos {
		width: 100%;
	}

	.eventos__imagen {
		display: none;
	}

	.eventos__imagen img {
		width: 100%;
	}


	/*------------     Galeria   768        --------------*/

	.galeria ul {
		margin-top: 15px;
		display: flex;
		flex-direction: column;
		width: 100%;
		animation: none;
	}

	.galeria li {
		list-style: none;
	}

	.galeria img {
		width: 100%;
	}


	/*-------------------------   Musica   768 --------------------*/





	iframe {
		width: 100%;

	}


	/*--------------------   footer    --------------------------------*/

	footer a {
		font-size: 4rem;
		margin: 0 10px;
	}
}



/*=================================  MOVIL =======================================*/

@media (max-width: 480px) {
	* {
		font-size: 40%;
	}

	/*------------------  home 480 ---------------------------*/

	#home {
		max-height: 584px;
	}

	.logo {
		flex-basis: 80%;
	}

	.logo img {

		width: 80%
	}
	/*----------------------- bio 480--------------------------------*/

	.circulo {
		width: 120px;
		height: 120px;
	}





	/*-----------------------   contacto  480  ------------------------*/


	#contacto {
		padding-top: 50px;

	}

	.input {
		padding: 10px 5px;
		font-size: 1.5rem;
	}



	input[type="text"],
	input[type="email"] {
		display: block;
		width: 100%;

	}

		/*-------  form 480---------*/

		.contenedor {
			width: 250px;
			height: 120px;
	
		}
	
		.contenedor #cerrar {
			padding: 5px;
			font-size: 1rem;
		}

	/*------------------------------   footer   ----------------------------*/

	footer a {
		font-size: 5rem;

	}



}







